[2019-10-23 21:39] lebrice opened #1 "Parsing Multiple Instances with List Attribute Throws Error"
**Describe the bug**
When parsing multiple instances, each of them having a List attribute with a default value, there shouldn't be an error message, each instance should instead get the default list.

**To Reproduce**
Steps to reproduce the behavior:
[code]
**Expected behavior**
[code]

[2019-10-24 17:03] jeromepl opened #2 "Support python 3.8s Literal and Final types"
https://docs.python.org/3/whatsnew/3.8.html#typing

- In the case of Literal, convert to an argparse 'choices' argument
- In the case of Final, don't add the argument to argparse

[2019-11-29 04:01] #1 closed

[2020-01-09 20:17] dmitriy-serdyuk opened #6 "`wrappers` is missing when installing using pip"
**Describe the bug**
I tried to install using pip. When trying to import I get this:
[code]

**To Reproduce**
1. `pip install simple_parsing`
2. `python -c "import simple-parsing"

**Expected behavior**
It doesn't crash.

**Desktop (please complete the following information):**
 - OS: Ubuntu 19.04
 - miniconda 3
 - python 3.7.4

[2020-01-09 20:49] dmitriy-serdyuk opened #7 "Hangup when trying to call `parse_args` second time"
**Describe the bug**
Script hangs up when trying to call `parser.parse_args()` two times. It doesn't usually happen in real code, but I think exception would be better than hangup.

**To Reproduce**
[code]

**Expected behavior**
Does not hang up.

[2020-01-10 04:23] lebrice commented on #6
Fixed (I hope) by https://github.com/lebrice/SimpleParsing/pull/8#issue-361202735

[2020-01-10 04:23] #6 closed

[2020-01-10 05:30] lebrice commented on #7
Fixed by https://github.com/lebrice/SimpleParsing/pull/9#issue-361282316

[2020-01-10 05:30] #7 closed

[2020-01-15 18:14] lebrice opened #11 "Elegantly Supporting Multiple Names for Same Argument, (e.g. "-v", "--verbose")"
**Is your feature request related to a problem? Please describe.**
Often programs use a shorthand for most commands, like "-f --force", "-v --verbose" "-d --delete", etc. It might be worth it to make this mechanism easy to implement, and also neat.

I'm not sure how to implement this, and I'd like to get some external input / feedback

**Describe the solution you'd like**
A way to define alternati

[2020-02-10 12:47] Wooza opened #14 "Support Optional to allow truly optional arguments"
**Is your feature request related to a problem? Please describe.**
I'm creating a tool that can be seeded. But if no seed is given, then i will just take a random seed.
The problem that I'm currently facing is that I can only define the seed as int and therefore cannot set it to None as default.
[code]

**Describe the solution you'd like**
I would like to be able to use something like this:
[code]

[2020-02-18 04:12] lebrice commented on #14
Thanks a lot @Wooza  for making this issue! I'll get right on it!

[2020-02-18 04:20] #11 closed

[2020-02-18 04:20] #14 closed

[2020-02-18 08:17] Wooza commented on #14
Thanks for implementing this feature and putting out a new release 😃

[2020-04-03 18:35] Wooza opened #16 "Show possible values of a list field, if the amount of values is finite"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to pass a list of flags to my program. The flags are all listed in an enum and the variable in the dataclass is defined as `flags: List[MyEnum] = ...`
Argument parsing works, but no proper help text is generated.

**Describe the solution you'd like**
If the argument of the List annotation has a finite amount of

[2020-04-03 18:48] Wooza opened #17 "Consider using typing_inspect, to reduce overhead in maintaining own implementation"
I'm currently working on a project that also makes heavy use of type hints.
From what I have seen, the internal API of the typing module is still changed quite often.
One of the maintainers of the typing module also has a neat library which provides a more stable API to the typing internals.
I suggest to take a look at [typing_inspect](https://github.com/ilevkivskyi/typing_inspect) to avoid access

[2020-04-10 23:45] lebrice commented on #16
Thanks a lot for opening this issue! Let me test things out and think about it for a few days and I'll get back to you.

[2020-04-10 23:52] lebrice commented on #17
Thanks a lot for posting! Interesting proposition.
The only potential "downside" I can think of for adding this is that until now this package didn't have any external dependencies (besides dataclasses for python=3.6.x).
I'll check-out their API and test it out, and I'll get back to you in a few days. Should be pretty simple to do, also.

[2020-04-11 01:35] lebrice opened #18 "installing simple_parsing with pip in python3.8 installs dataclasses-0.6"

[2020-04-15 19:25] lebrice opened #19 "(Really specific Bug) Bug when parsing N lists of N elements each, without a default value."
**Describe the bug**
OK so this one is tricky and very specific, and shouldn't impact anyone really.
When we're trying to parse multiple lists using the same attribute (no prefixing, aka `ConflictResolution.ALWAYS_MERGE` mode),
When the list length and the number of instances to parse is the same, AND there is no default value passed to `add_arguments`, it gets parsed as multiple lists each with o

[2020-04-15 21:02] lebrice commented on #16
Hey @Wooza, out of curiosity, in your context is the number of flags used completely arbitrary? Could you give me a bit more detail about some scenarios where you think this could be useful?

For instance this is what is currently supported:

[code]

Executing this with the "--help flag":
[code]

As you can see, the help string defaults for enums are quite ugly.
I was able to achieve the kind of f

[2020-04-16 12:24] Wooza commented on #16
Hey @lebrice,
thanks for your fast feedback and effort.
The amount of flags is around 20 to 30.
I think your solution with manually specifying the help string is ok, since can be automatically generated. I only have to work out how to deal with the line breaks, to avoid a single long line.
I'll close this issue and might reopen it, if I stumble into any further problems 😄

[2020-04-16 12:24] #16 closed

[2020-04-16 14:01] lebrice commented on #16
What are those 20-30 flags used for?
Also, you can use the backslash ("\") to spread your command onto many lines.

[2020-04-16 14:41] Wooza commented on #16
We have a program with different genetic algortihms and an enum which defines different aspects that we want to track while an algorithm is running, e.g. best current fitness or number of generations.
When we run an evaluation, we don't always need all of those values, so we specify the values which should be tracked/output by using a field with `List[Enum] ...`.
Thanks for the `\` tip.

[2020-05-15 19:39] lebrice opened #20 "Add a way to ignore a field, without having to set `init=False`"
**Is your feature request related to a problem? Please describe.**
Would be nice to have a way to tell SimpleParsing to simply ignore a field, (i.e., to not try to parse it via command-line.)

**Describe the solution you'd like**
Something simple, elegant, and easy to implement.

**Describe alternatives you've considered**
- Adding a `ignore=True`/`cmd=False` kwarg to `field()`
- (bad idea) detect

[2020-05-15 22:59] lebrice opened #21 "Fix the Logging config."
**Describe the bug**
Not sure how, but there might be a smarter way to configure the logging so as not to pollute the output of whatever code is using simple_parsing, following [https://docs.python.org/3/howto/logging.html#configuring-logging-for-a-library](https://docs.python.org/3/howto/logging.html#configuring-logging-for-a-library)

[2020-05-19 16:32] comfortablynick opened #22 "Support for parallel commands"
**Is your feature request related to a problem? Please describe.**
Argparse has no native support for multiple parallel commands. This would be a great addition to this dataclass based parser.

**Describe the solution you'd like**
An example is an image processing tool. It would be great to be able to do this:

[code]

**Describe alternatives you've considered**
Declarative Parser [supports](https

[2020-05-24 04:21] lebrice commented on #22
Hi there! Thanks a lot for posting this. Let me think about this a little bit and I'll get back to you.

[2020-06-22 20:15] #17 closed

[2020-06-30 09:44] Wooza commented on #18
This causes an interesting behavior where every new release of `simple-parsing` adds or removes the `dataclasses` dependency, when we update the dependencies of our project.

I'm not an expert on dependency management in Python, but the official [documentation](https://www.python.org/dev/peps/pep-0508/#environment-markers) proposes something like `dataclasses;python_version<"3.7"` to specify depen

[2020-07-03 20:20] lebrice commented on #18
Thanks @Wooza , Indeed that's annoying, I'll look into using that, and If all goes well, I should have a fix pushed in the next few days. I'll post something here when that's the case.

In the meantime, you can sidestep this issue by installing simple-parsing with the `--ignore-deps` flag, but you'd need to manually install `dataclasses` if you want to use it with python=3.6.

Thanks for using thi

[2020-07-03 22:21] lebrice commented on #18
Ok, this should be fixed, as of v0.0.11.post12, let me know if you still encounter this issue!

[2020-07-03 22:21] #18 closed

[2020-07-09 16:33] lebrice opened #24 "Overhaul the `type` argument, similar to how it's done in Serializable."

[2020-07-11 06:35] Wooza opened #26 "Deploy v0.0.11.post13 to PyPI"
Hi,

the last release (v0.0.11.post13) was not deployed to [PyPI](https://pypi.org/project/simple-parsing/#history).

[2020-07-11 06:43] Wooza commented on #18
@lebrice thank you for fixing this.

We are working on a tool for automated test generation in Python, similar to what already exists for Java, e.g., [EvoSuite](https://www.evosuite.org/) or [Randoop](https://randoop.github.io/randoop/). We will make our first public release within the next weeks.

[2020-07-21 16:53] lebrice commented on #26
Hi @Wooza , Sorry about that! Thanks for pointing this out.

I had forgotten to push the associated tag. Should be resolved now.

Thanks again!

[2020-07-21 16:53] #26 closed

[2020-07-21 16:59] lebrice commented on #22
Hi @comfortablynick ! Sorry for taking so long to respond.
I've got [a little branch setup with some example code](https://github.com/lebrice/SimpleParsing/blob/commands_example/examples/commands/commands_example.py) which might be useful in implementing what you're describing:

Basically the gist of it is, I think this is a great idea, but I don't think it would make sense to place the burden of

[2020-07-22 11:19] MartinHowarth opened #27 "Nesting has confusing, hidden, behaviour"
**Describe the bug**
It took me a lot of experimentation to find out that parameters are only prefixed with their nested group name if the name of the nested parameter conflicts with another. I expected it to prefix it with the nested group name at all times, and I think it should do this.

It should do this because of the following situation:
- I have a dataclass of parameters I want to re-use in

[2020-07-22 11:29] MartinHowarth opened #28 "Add support for optional nested parameter groups"
**Is your feature request related to a problem? Please describe.**
I would like to have a set of parameters that are optional, but if you give one of the set, you must follow the rules for the rest of them. For example, the following code doesn't work - you get asked to provide an input of type `B` which is impossible from the CLI.

[code]
Gives help output:
[code]

**Describe the solution you'd l

[2020-07-22 12:06] MartinHowarth opened #29 "Tuple parsing is incorrect - results in nested tuples"
**Describe the bug**
This dataclass:
[code]
gets parsed as:
`MyCli(asdf=(('asdf',), ('fgfh',)))`
but it should be:
`MyCli(asdf=('asdf', 'fgfh'))`

This works correctly with List instead of Tuple however.

**To Reproduce**
Run the following with arguments `--asdf asdf fgfh`
[code]

**Expected behavior**
Should not result in each element of the tuple also being a single-element tuple.

[2020-07-23 02:44] comfortablynick commented on #22
Thanks, I'll take a look!

I've been working on the utility I mentioned using `argparse` with some custom pre-parsing and subclassing to make it fit my needs. Ultimately, I didn't like how Click did it so I stuck with `argparse`.

[pyimgtool](https://github.com/comfortablynick/pyimgtool/blob/master/pyimgtool/args.py)

I'm sure it's not the most eloquent code, but I figured out a way to make it wor

[2020-07-26 09:52] berendbaas opened #30 "pyyaml dependency missing in setup.py"
Not sure if this is the intended behavior (and viewed as an optional install), but since pyyaml isn't marked as a dependency, in setup.py, calling .save("...yaml") or .save_yaml on a Serializable data class will crash, due to the missing package. If it is intended to be optional, perhaps it's a good idea to mark it as such in the Readme?

Love the library btw! 👍

[2020-07-28 11:49] Wooza commented on #18
@lebrice
If you are still interested, we just put out our first release: [Pynguin](https://github.com/se2p/pynguin).

[2020-07-28 14:46] lebrice commented on #29
Thanks for posting this!

[2020-07-28 14:49] lebrice commented on #30
Thanks for posting!

Indeed its an optional install, which is only needed when dealing with yaml files. I'll write it somewhere in the Readme.

Thanks! I'm happy you find it useful! Do you mind me asking what kind of features you like / what you think might be missing? I'm trying to gather feedback at the moment..

[2020-07-28 14:53] lebrice commented on #28
Thanks for posting this!
Indeed, I agree, and I have also been thinking about this.
I'll get back to you in the next few days.

Thanks again!

[2020-07-29 11:15] berendbaas commented on #30
Serialization & the ability to not have to compose different sets of options for different scripts in a parser, are probably the most appreciated features for me. It avoids the situation of having one giant argument parser, that ends up being a glorified global namespace where all the settings of are stored.

When it comes to improvements, the following spring to mind:

### Subparsers
I have some

[2020-07-31 15:22] lebrice commented on #27
Hi @MartinHowarth! Thanks for posting this!
In the case when there is a conflict (i.e., when two arguments would have the same name), you can already achieve what you propose by passing a different value of the ConflictResolution Enum to the __init__ of the ArgumentParser.

In your case, you would use ConflictResolution.EXPLICIT, which will use the 'absolute path' as the prefix to all the argument

[2020-07-31 15:32] lebrice commented on #27
Actually, now that I think about it, It would be pretty easily doable to add all the absolute path as another option string for argparse, in addition to the shortest discriminating one, even when there are no conflicts.

I'll test it out and I'll get back to you!

[2020-07-31 16:27] #27 closed

[2020-07-31 18:55] MartinHowarth commented on #27
It's great to hear that `ConflictResolution` exists that would solve my problem - though I don't recall seeing that in the documentation. The documentation is under construction though so... perhaps that's a known issue / not surprising and will come later?

I'm still concerned that the default behaviour is still the confusing behaviour I originally posted. And the danger is that the only way to s

[2020-08-01 19:08] #29 closed

[2020-08-01 19:16] lebrice commented on #30
Thanks @berendbaas  for the message. I'll take a good look at it and get back to you. For now I marked the original issue above as documentation/low-priority.

Yes you're right, there is a bit of a pain point when using dataclasses without default field values and nesting, and I think #28 is also pointing this out.

I'll take a closer look and try to replicate your example above, and I'll get back

[2020-08-19 03:29] lebrice commented on #22
Hi @comfortablynick I'm gonna close this issue, as I don't think this feature would be implemented in simple-parsing, but rather in the user code. Please let me know if you think this should be reopened.
Thanks again for sharing!

[2020-08-19 03:29] #22 closed

[2020-08-19 03:40] lebrice commented on #30
Hi @berendbaas , sorry it took a long while to get back to you.

I added a test to reproduce the example you give above, which you can find here:  [https://github.com/lebrice/SimpleParsing/blob/issue-30/test/utils/test_issue_30.py](https://github.com/lebrice/SimpleParsing/blob/issue-30/test/utils/test_issue_30.py)

[code]

There doesn't seem to be a problem with this code, and it works fine. Maybe

[2020-08-19 20:22] #30 closed

[2020-11-02 14:13] aronla opened #35 "Make `Serializable` into a wrapping class"
Instead of having to inherit from Serializable, it would be great to just be able to use it as static methods on the dataclasses. The problem now is that it pollutes the namespace of the dataclass so instead of seeing just the fields you are interested in you also see things such as `save` etc.

Thanks for a much needed and easy to use library!

[2020-11-03 22:48] lebrice commented on #35
Hello there, thanks!
Interesting suggestion. I'm not sure I totally understand what it should look like after such a change though, would you mind giving me an example use case?

Also, there are some cool features of the Serializable class that depend on having access to all its defined subclasses, so that you could, for instance, given these classes:
[code]
Do something like:
[code]

The importan

[2020-12-17 13:32] otaj opened #40 "Subparsers "steal" parsing from the parent"
**Describe the bug**
Hi, thanks for the amazing work!

I am honestly not sure, whether this should be classified as a bug or not, because it is a default behaviour of `argparse`, however, there are workarounds.

What happens is that whenever parser encounters a sub command, it moves all the parsing to this subparser and does not return back, meaning, that any options from the parent parser are inv

[2020-12-27 21:17] lebrice commented on #40
Hey there! Great first issue!

Indeed, this is one of the annoying things with subparsers in argparse.
One idea I played around with was to add an `attempt_to_reorder` argument to `parser.parse_known_args`, which tries to re-order the arguments automatically to avoid this issue.

One problem with this, however, is that by re-ordering the arguments as `python tmp.py --verbose train`, the parser wou

[2020-12-28 20:18] otaj commented on #40
Nice, `attempt_to_reorder` seems like a very nice option. Didn't try it yet on anything more substantial, but just wondering, how much of reordering is going on there? Will it work with nested subparsers?

Anyway, I believe, that since `simple-parsing` is subclassing `ArgumentParser`, it can do this kind of thing automatically :)

And, as I suggested in the previous post, one of the options I know

[2021-02-07 16:42] ricosaurus opened #42 "Can I parse nested tuples?"
**Is your feature request related to a problem? Please describe.**

I need to parse nested tuples, as often occur in parameterization -- ie a tuple of (a tuple of names, a tuple of values, a tuple of values ...).

**Describe the solution you'd like**

To be able to build nested tuples, eg like the field some_tuple_parameterization :

some_tuple_parameterization: Tuple[Tuple[str, str], Tuple[int, f

[2021-02-16 14:50] joeyism opened #43 "Exit Code 0 when program doesn't successfully run"
When I create an argparser and I have provided too many/too few parameters, the exit code is still 0, even though the program hasn't been executed properly. For example,
[code]
but when I run
[code]
the error code
[code]
still returns `0`, even though I hadn't provided enough variables and the overall program failed to run

[2021-02-16 17:55] lebrice commented on #42
Hello! Thanks very much for posting this, and sorry I didn't reply earlier.
I might slightly alter the formatting in the text above, if you don't mind.

I seem to remember having this work before... I recently tried to improve how the parsing was happening, but I might have inadvertently broken this 'nested tuple' parsing issue.

Allow me to first create a simple test to reproduce the issue, and I

[2021-02-16 18:03] lebrice commented on #43
Hello @joeyism , and thanks for posting!

I seem unable to recreate your issue, perhaps I'm missing something about your setup?

[code]

Successful run:
[code]

Wrong number of arguments:
[code]

[2021-02-16 18:05] lebrice commented on #35
I'm gonna close this for now. Please don't hesitate to reopen this if you feel my answer hasn't addressed your concern!

[2021-02-16 18:05] #35 closed

[2021-02-18 09:55] joeyism commented on #43
Oh I see, I think it's a version problem. I was able to get your result after I upgraded. Thanks

[2021-02-18 09:55] #43 closed

[2021-02-20 04:24] lebrice commented on #20
Fixed, you can pass `cmd=False` to field() and it will not add any arguments.

[2021-02-20 04:24] #20 closed

[2021-02-23 09:13] yuvval opened #45 "Add support for a config file with optional overriding"
**Is your feature request related to a problem? Please describe.**
I would like to be able to load the args configuration from a json/yaml file, and at the same time override some values from the command line

**Describe the solution you'd like**
e.g.
python my_script.py --config=conf.yaml --lr=1e-2

**Describe alternatives you've considered**
parsing the commandline argv for the overriding args -

[2021-02-25 11:51] jhagege commented on #28
Hi, great library, thanks !
I seem to be meeting the same issue.
Has this been solved with the mentioned MR ?
Thanks.

[2021-02-25 11:55] jhagege opened #46 "Nested parameter name with dataclass"
Hi, great library, thanks !
I have an issue with nested parser from dataclass.

When trying to create a parser from a dataclass
[code]

I get the following:

I wish the arguments would be prefixed like so: --jbuild.id 1 --jbuild.url url --jbuild.docker_image image
Is this flow supported ?

[2021-02-25 18:26] PleasantD opened #47 "Optional List/Tuple only accepts first value"
**Describe the bug**
Specifying a List or Tuple field as optional only accepts the first value.

**To Reproduce**
[code]

**Expected behavior**
`args_values.cfg.values` should be the tuple `(3,4)` and `extra` should be `[]`
But instead `args_values.cfg.values` is `3` and `extra` is `['4']`

Additionally there should be parse error if the number of items for a fixed-length tuple does not match the

[2021-03-02 12:05] otaj opened #48 "Help does not appear if using metadata in fields"
**Describe the bug**
Hi, it seems, that when the dataclass has metadata defined through `field` (from `simple_parsing`, of course), the help in form of comments does not get picked up.

**To Reproduce**
[code]

`python test.py -h`

## Output
[code]
## Expected output:
[code]

[2021-03-02 12:59] otaj commented on #48
I just did a bit more of a debugging and it seems to be because of [this](https://github.com/lebrice/SimpleParsing/blob/master/simple_parsing/docstring.py#L85) function.
Overall checking if there is only one colon in the code portion of the code line just seems like it's asking for trouble, especially if it seems to be used for checking, if the attribute is defined on a particular line. Isn't ther

[2021-03-03 00:36] lebrice commented on #48
That's a really juicy little bug you found there @otaj! Thanks a lot for posting! I'll try to get back to you as soon as I can.

[2021-03-03 00:47] lebrice commented on #47
Thanks for posting @PleasantD!
Indeed, this seems related to #42, it appears like the parsing of `Tuple` fields is bugged.

   IE, specifying too few or too many values should generate an error if the tuple is of a fixed length.

The problem here seems to me more related to the `Optional` annotation, as it's not easy to determine the right value to pass to the `nargs` argument of `add_argument` in

[2021-03-03 01:40] lebrice opened #49 "Detect conflicts between 'regular' and 'field' arguments"
**Describe the bug**
SimpleParsing doesn't currently account for conflict in option strings between "regular" arguments (added through `parser.add_argument("--foo", default=123)` and through `parser.add_argument(DataclassWithFooField, dest="bar")`.

**To Reproduce**
(modified example from #46 )

[code]

**Expected behavior**
Adds changes the option string of the `id` field from `"--id"` to `"--jbu

[2021-03-03 01:52] lebrice commented on #46
Hello @jhagege , thanks for posting!

This is interesting. You've actually uncovered two bugs here!

The first was easy to fix, which is that the `prefix` argument wasn't really being used as expected. I've added a test file [here](https://github.com/lebrice/SimpleParsing/blob/lebrice/issue46/test/test_issue_46.py) to reproduce your issue.

With that small bug out of the way, it's important to poi

[2021-03-03 02:19] lebrice commented on #48
To answer your question, that whole docstring feature feels a bit like using forbidden magic at times, so I'm just basing it on my understanding that a field definition looks something like `field: type_annotation = something_something(<something>)`.

I added a check so that it only considers what's in front of the first equal sign in the line, and [this tests](https://github.com/lebrice/SimplePar

[2021-03-03 02:29] lebrice commented on #28
Hi @jhagege , Yes this was partially fixed by #34, in that optional parameter groups should work, as long as you aren't nesting them more than one level down the "tree".

See [this test here](
https://github.com/lebrice/SimpleParsing/blob/5aa7bb01e12308ddfa68f306c25fb20dfe7ac972/test/test_optional.py#L49) for an example.

[2021-03-03 02:30] #46 closed

[2021-03-03 02:31] #48 closed

[2021-03-03 06:46] jhagege commented on #46
Thanks for your quick handling :)

[2021-03-03 08:54] otaj commented on #48
Thank you for such a quick resolution!

If I may suggest, how to check for attribute - you know the attribute AND its type (it is part of the `dataclasses.Field`), so how about you check for strings in form `name[ ]:[ ]type`, such that they a) appear only in the class definition (so no more indent than one level) and b) at the beginning of the line (of course, compensated for the indent).

The rea

[2021-03-04 11:58] Conchylicultor opened #52 "Set subparser default value"
I would like to use subparser with a default value:

I tried:

[code]

And

[code]

But none of them seems to work.  Running `python my_program.py` currently raise:

[code]

How can this be achieved ?
This can be helpful, for example to display `parser.print_help()` if no command is provided.

[2021-03-10 02:50] lebrice commented on #52
Hello @Conchylicultor , thanks for posting!

Interesting idea. Is there already an equivalent for a default subparser in plain argparse? I'm not doing anything different from argparse in this case here, so if it's natively supported, it would be pretty easy to add, and a lot harder if it isn't.

[2021-03-12 11:22] jordiae commented on #27
Hi there! I agree with @MartinHowarth, is there any way to force prefixing even without any conflict? @lebrice

[2021-03-12 13:03] lebrice commented on #27
Yes, you can pass the `ConflictResolution.EXPLICIT` value to the ArgumentParser constructor's `conflict_resolution` argument.

[2021-03-12 13:11] jordiae commented on #27
I already did, but doesn't this work only in case of conflict? I mean nested attributes appearing always with the corresponding prefix, even if there is no conflict at all.

[2021-03-12 15:50] Conchylicultor commented on #52
Yes, it's supported by argparse. Here is an example:

[code]

[2021-03-15 16:30] lebrice commented on #52
Even though this works, it isn't exactly a default subparser action, right? It's simply using subparsers as a way to change the default value of an attribute, and then having to call the function yourself after parsing the args.

I'll have to experiment a little bit with this on my end, since I'm not quite sure how I'd go about adding something like this to simple-parsing without it being too far

[2021-03-17 18:36] jordiae commented on #27
Hi @lebrice, sorry for re-opening the issue. I think there was a misunderstanding (my fault). Passing the ConflictResolution.EXPLICIT value to the ArgumentParser constructor's conflict_resolution argument is only used if there is a conflict. Instead, I want to force prefixing for all nested arguments, even if there is no potential for a conflict.

[2021-03-17 21:59] lebrice commented on #27
Hey @jordiae thats fair, you can use `add_dest_to_option_strings` argument to the ArgumentParser constructor, which won't do exactly what you want, but it will at least add the option for you to reference everything with the fully qualified path.

Let me know if thats sufficient!

[2021-03-19 13:25] jordiae commented on #27
Hi, many thanks for the idea!

[2021-04-09 12:16] stephanlukasczyk opened #56 "SimpleParsing has unlisted numpy dependency since 0.0.14"
**Describe the bug**
SimpleParsing 0.0.14 added (among others) the module `simple_parsing.helpers.hdparams.hdparam` which imports `numpy`. Unfortunately, `numpy` is not listed as a dependency in `setup.py`, which causes all code that uses SimpleParsing to fail with an `ModuleNotFoundError`.

**Suggested Fix**
Either remove the dependency to `numpy` or explicitly state it as a dependency. Currently

[2021-04-27 00:59] lebrice commented on #56
Hey @stephanlukasczyk , thanks for posting, and sorry for not getting back to you earlier!

Good point! I'll either remove the numpy dependency, or I'll move it to an extras_require.
Thanks again for posting!

[2021-04-27 02:33] #56 closed

[2021-04-27 02:35] lebrice commented on #56
Hey @stephanlukasczyk  I ended up removing the numpy dependency, and the matplotlib test dependency.
Thanks again for poiting this out!
I'll upgrade the package version to 0.0.15.

[2021-04-27 03:43] lebrice commented on #45
Hi @yuvval , sorry for not getting back to you sooner!

hmm, that's interesting. You can already achieve what you want without the need for a new feature: For instance, you could do something like this (which, I admit, is a bit long, but gets the job done!):

[code]
Then, assuming the `file.yaml` file contains this:
[code]

You can then get what you want:
[code]

Hope this helps! I'll close the is

[2021-04-30 17:51] naturalethic opened #58 "Support for subparser aliases"
**Is your feature request related to a problem? Please describe.**
Naming of subprocess commands is done automatically by introspecting the class name.

**Describe the solution you'd like**
I'd like to be able to specify one or more aliases, specifically to allow a short version.

**Describe alternatives you've considered**
I looked into autocomplete libs but these are not reliable or easy to admi

[2021-05-21 07:13] lebrice commented on #58
Hello @naturalethic , sorry for the late reply!

You can use the `subparsers` utility function, passing in a dictionary mapping from subparser name to dataclass type.

Hope this helps!

[2021-05-26 00:01] lebrice commented on #58
For example, in the [subparsers example](https://github.com/lebrice/SimpleParsing/blob/master/examples/subparsers/subparsers_example.py), you could also do the following:
[code]

[2021-05-26 00:01] #58 closed

[2021-06-03 11:52] rggjan opened #61 "Simple example link is broken on documentation"
https://github.com/lebrice/SimpleParsing/blob/master/examples/README.md

with the link to

https://github.com/lebrice/SimpleParsing/blob/master/examples/simple/README.md

gives a 404

[2021-06-05 03:50] lebrice commented on #61
Thanks for pointing this out!

[2021-06-08 18:04] stevebyan opened #62 "Lists of enums are parsed by value on the command line"
**Describe the bug**
While enums seem to be parsed by member name, a list of them seems to be parsed by member value, but only if the value is a string, not an integer

**To Reproduce**
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

[code]

**Actual behavior**
A clear and concise description of what is happening.

[code]

**Desktop (please complete t

[2021-06-08 20:39] stevebyan commented on #62
Does `get_parsing_fn()` in simple_parsing/wrappers/field_parsing.py need a special case for enums?

[2021-06-13 11:40] alexanderlobov opened #63 "List[int] parsed as a single value"
**Describe the bug**
List[int] parsed as a single value.

**To Reproduce**
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

[code]

**Actual behavior**

[code]

**Desktop (please complete the following information):**
 - Version 0.0.15.post1
 - Python version: 3.9.2

**Additional context**
The parsing works correct if I add second instance of the `Opts

[2021-06-13 11:41] alexanderlobov commented on #63
Seems to be related to #62

[2021-06-14 02:19] lebrice commented on #63
Thanks fo rposting @alexanderlobov , I'll take a good look at this this week and get back to you.

[2021-06-17 11:45] rggjan opened #64 "Default not displayed in the help text when no description comment exists"
This example:
[code]

outputs:

[code]

Why is the default value displayed for `foo`, but not for `bar`? Even when no description comment is given, it would be useful to know the default value set, I would think?

[2021-06-17 12:48] rggjan commented on #47
Just stumbled on the same issue. And yes it seems `foo: Optional[Tuple[str, str]]` is broken, while `foo:Tuple[str, str]` works fine. Same thing for Lists like `foo: Optional[List[str]]`.

Shouldn't it be something like:
- `foo: Optional[Tuple[str, str]]` => `nargs=2`, required=False
- `foo: Tuple[str, str]` => `nargs=2`, required=True
- `foo: Optional[List[str]]` => `nargs=*`, required=False, con

[2021-06-23 07:38] rggjan opened #65 "Show possible choices for enums"
In the example here:
https://github.com/lebrice/SimpleParsing/tree/master/examples/enums

Calling
`args = parser.parse_args(["--help"])`

gives:
`  --color Color       my favorite colour (default: BLUE)`

It would be nice to get a list of possible choices here, something like:
`  --color Color       my favorite colour {RED, ORANGE, BLUE} (default: BLUE)`

[2021-06-23 07:39] rggjan opened #66 "Readme is missing text"
https://github.com/lebrice/SimpleParsing/blob/6d3d7c490c2be7ebd8b1027620cac019b54a2cd0/examples/custom_args/README.md

stops mid-sentence

[2021-06-24 11:44] rggjan opened #67 "Option for using only dash variants"
There is an option `add_option_string_dash_variants`:

[code]

However, this always creates two versions of the same option and clutters the help:
[code]

It would be nice to have the option to disable the underscore variants and only use the dash variants (for people preferring dashes):
[code]

[2021-06-24 11:51] rggjan opened #68 "Confusing command line options for bool's with `default=True`"
Having a boolean option with a default value of `True`:
[code]

Creates this very confusing behaviour that passing the option (without a boolean value) disables it, so passing `enable_water` actually causes `enable_water` to be set to False, which is not very intuitive.

Even though this behaviour corresponds to `store_false` in the classic python `ArgumentParser`, it would be nicer to make this m

[2021-06-25 06:29] rggjan opened #69 "Breaks with `from __future__ import annotations`"
When using `from __future__ import annotations` at the top of any of the examples, `SimpleParsing` crashes with:

[code]

I guess you're missing a [typing.get_type_hints()](https://www.python.org/dev/peps/pep-0563/#id10) somewhere in the code...

[2021-06-26 16:55] lebrice commented on #64
Hi @rggjan , interesting issue, thanks for posting!

This might have to to do with how the `ArgumentDefaultsHelpFormatter` from argparse works, or maybe I'm doing something wrong in one of these places:
- [SimpleHelpFormatter](https://github.com/lebrice/SimpleParsing/blob/master/simple_parsing/help_formatter.py
)
- [Setting the "help" value](https://github.com/lebrice/SimpleParsing/blob/d8a22162d1

[2021-06-26 17:39] lebrice commented on #52
Closing this for now, as I'm not exactly sure I know how to tackle this without straying too far from vanilla argparse. Let me know if you have any thoughts on this, and we can re-open this.

[2021-06-26 17:39] #52 closed

[2021-06-27 03:32] #61 closed

[2021-06-27 03:36] lebrice commented on #67
Hey again @rggjan, thanks for posting!

Sounds good! And would also be pretty easy to add, so I'll look into this soon. I'll perhaps end up adding another Enum for the option for that, a bit like for `ConflictResolution`.

[2021-06-27 03:43] lebrice commented on #69
Good point! I think the codebase currently heavily depends on the annotations being evaluated (e.g. on the 'type' attribute of the `dataclasess.Field` to be a 'live' type (`<class str>` and not just `"str"`))  so using this postponed evaluation option (which I'll admit I'm not yet familiar with) might break a few things..
I'll try and give this a go and I'll get back to you.

[2021-06-27 19:55] #47 closed

[2021-07-10 16:41] lebrice commented on #68
Hey @rggjan, thanks for posting.

At the moment, if the default is True, then the action is "store_false" and vice-versa. It's kind-of up to the user to use a good name for the fields depending on the default value, which I'll admit might not be ideal.

If you want something that's 100% unambiguous, you can use something like this to force passing a value:
[code]
I'm not sure what would be the bes

[2021-07-10 17:57] rggjan commented on #68
Thanks for the idea. I'm still not convinced this can be fixed with a better naming... can you give me a single example where the current behavior makes sense for a default which is True?

Because also calling:

[code]

with `script.py --no-water`

Will print:
`water!`

Which is equally unintuitive 😬

[2021-07-10 18:04] rggjan commented on #68
Also, I don't want to force passing the value, I'm perfectly fine with having a default.

This would be my proposal for more intuitive behavior:

`water: bool = False`

would result in

- `<empty command line>` water=False
- `--water` water=True
- `--no-water` water=False (not available now)
- `--water True` water=True
- `--water False` water=False

While

`water: bool = True`

would result in

-

[2021-07-23 20:30] Ozziko opened #75 "Representing nested args by their full "nesting path" even with no conflicts"
`simple-parsing` is simply awesome (thanks!). I'd like to suggest a feature that is crucial for parsing nested args, in my opinion, and the support of other researchers in my group.  Here is a minimal example to make things clear:
[code]
A command line to set all values can be: `--use=True --wandb.dir='wandb' --data.dir='data'`.

Since I passed ConflictResolution.EXPLICIT:
* Nested args with confl

[2021-07-23 20:47] Ozziko opened #76 "Allowing a float arg to get an int value (according to PEP 3141)"
PEP 3141 defines Python's numeric tower... when an argument is annotated as having type float, an argument of type int is acceptable; similar, for an argument annotated as having type complex, arguments of type float or int are acceptable.

Can you please make `simple-parsing` behave according to PEP 3141, or at least accept int values also for args whose type hint in the dataclass is float? Much

[2021-07-24 10:05] Ozziko commented on #76
My mistake, this is not needed

[2021-07-24 10:05] #76 closed

[2021-07-24 22:52] lebrice commented on #75
Hey @Ozziko , thanks for posting!

There is an option for allowing the full path: You can use `add_dest_to_option_strings=True` to the `ArgumentParser` constructor, and then you'll be able to pass the full path to your args, in addition to the short path.

However, there isn't currently an option for forcing the use of the full path, however it's something that could easily be added. I think I've

[2021-07-24 22:58] lebrice commented on #67
Hey @rggjan, Sorry it's been a while.

I'd really appreciate someone making a PR for this, since the change would be pretty simple (and quite similar to what I describe in #75):

In this case, there could also be some kind of enum that gets passed to the `ArgumentParser` constructor, that defines what style of option strings to use, something like:
[code]
Hope this helps! Let me know what you thin

[2021-07-24 23:16] lebrice commented on #68
Good point!

1. For the default value, the main "culprit" is [this this block here](https://github.com/lebrice/SimpleParsing/blob/7cf0ed5456827fa844790085d46db864af73a9d2/simple_parsing/wrappers/field_wrapper.py#L395)

2. For the generated `--no-xyz` option:
    Currently, fields all create only one argument [here, in the DataclassWrapper](https://github.com/lebrice/SimpleParsing/blob/7cf0ed545682

[2021-07-24 23:27] lebrice opened #77 "default values passed to `mutable_field` aren't used properly"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

[code]

**Actual behavior**
A clear and concise description of what is happening.

[code]

[2021-07-26 18:42] Ozziko commented on #75
Thanks @lebrice!
`add_dest_to_option_strings=True` solves the key issue! I also agree that it's better to have an option to force using the full path (also showing the full paths in the help) to keep everything organized, but I don't think I'll have time to fix it any time soon... I'm keeping this issue open in the meantime...

[2021-07-29 11:17] wolf1986 commented on #21
Hi! Thanks for the nice library!

I've noticed a problem with logging - it wasn't done the standard way, and was hard to integrate into projects with other loggers.

Added more info & explanations in this PR: #79

[2021-07-29 18:16] #21 closed

[2021-08-02 13:38] rggjan commented on #67
Thanks for the info and hints, makes sense! Not sure if / when I can take a look at this, though.

[2021-08-02 13:43] rggjan commented on #68
Thanks for the comments.

1. That makes sense. I wonder what the best way of changing this would be, since that would be a breaking change and people might rely on the current semantic (although I can't imagine it, really).

2. Yes, that would make sense. Although I wonder if it might even be useful for boolean fields with a default of `False` for consistency, so changing a default value wouldn't

[2021-08-02 13:43] rggjan commented on #68
(In other words, always add a `--no-water` flag, which would be equivalent to `--water False`, no matter what default was set)

[2021-08-30 08:10] orsinium commented on #69
You most probably will find all answers in this discussion: https://github.com/samuelcolvin/pydantic/issues/2678

If I understand correctly, the lazy evaluation breaks too many things depending on reflection, so it was postponed. However, some simple cases can be evaluated by `get_type_hints`, it just won't work for local variables.

[2021-09-09 10:22] Conchylicultor commented on #69
Any update on this ? Independently of samuelcolvin/pydantic#2678 issue, I think using `typing.get_type_hints()` should works for most common cases.

[2021-09-24 11:08] mixilchenko opened #83 "date, datetime support"
## How to use dates with simple parsing
Since python builtins `dt.date` and `dt.datetime` do not support string parsing in constructor, the only way to use dates now is `pd.Timestamp` class
[code]
But someone doesn't want to install pandas as dependency and dates support could be helpful

Datetimes can be specified in different formats:
- %Y%m%d
- %Y-%m-%d
- %Y-%d-%m
So basic usage can be
[code]

[2021-09-27 09:06] mixilchenko commented on #83
@lebrice could you please take a look.
What do you think about custom postprocessors?

[2021-10-03 20:05] lebrice commented on #69
Hey @Conchylicultor , No updates yet, I'm quite busy with the ICLR deadline at the moment. I do plan to get to this at some point, but I could also always use some help!

In the meantime, here's a more detailed illustration of the problem, as well as my idea of how to solve it, in case anyone is kind enough to help me out with this:
[code]

Now, the bug with simple-parsing is that we rely on the `

[2021-10-04 01:43] lebrice commented on #83
Hey @mixilchenko , why not just use the `type` argument to `field`? Doesn't that already do what you want?
[code]

[2021-10-04 08:35] mixilchenko commented on #83
Thanks @lebrice! I didn't find this.
I think it can close some of my needs.

But I've found at least one con in this approach
It writes on `--help`
[code]
instead of real type
[code]

[2021-10-04 14:14] lebrice commented on #83
@mixilchenko then you can pass in the `metavar` you want, the same way!

[2021-10-04 14:15] #83 closed

[2021-10-07 19:36] haydenflinner opened #89 "Support for Positional Arguments"
**Is your feature request related to a problem? Please describe.**
It would be nice to be able to have positional arguments, especially for cmds that only take one argument. For example, given the following cmd, it would be annoying to always have to instead type:
`cat myfile | sed 's/abc/123/g'`
`cat --file myfile | sed --pattern 's/abc/123/g'`.

**Describe the solution you'd like**
I think I jus

[2021-10-07 20:10] haydenflinner opened #90 "Small help presentation changes"
**Is your feature request related to a problem? Please describe.**
Two minor things I would like to tweak in the help:
  1, I'd like to remove the call-outs to what dataclass is being populated, in favor of these not being exposed.
  2,  I'd like to display "-"s instead of "_"s, because I don't want my users to think they have to hold shift between letters when typing argument names :smile:

[code

[2021-10-09 19:23] haydenflinner commented on #89
Rudimentary support for positional implemented [here.](https://github.com/haydenflinner/SimpleParsing/commit/242d7787d91508b681fadf385a6130f80ffe1dd8)

--

The wrapper function I described is part of my own attempt at this same problem space called `simpcli3`. When it came time to implement parsing nested dataclasses within Unions I gave up and chose to wrap SimpleParsing instead :smile: . Usage l

[2021-10-09 19:54] lebrice commented on #89
Cool! Could you perhaps make a pull request for the positional args feature?

[2021-10-09 22:07] haydenflinner commented on #89
#91

[2021-10-19 19:23] nacitar opened #95 "'set' type seems to not be properly supported"
**Describe the bug**
The 'set' type does not seem to be properly supported.

**To Reproduce**
Reproduction code: test.py
[code]
Reproduction invocation:
[code]

**Expected behavior**
[code]

**Actual behavior**
[code]

**Desktop (please complete the following information):**
 - Python version: 3.9.7

**Additional context**
If you only pass in a single value to --set_things, it properly creates a s

[2021-10-21 20:16] lebrice commented on #95
Interesting, thanks @nacitar  for pointing this out!
Not 100% sure, but this might also have something to do with python 3.9.
I'll add some tests for it, but first, can you actually get a set argument using just `add_argument` from argparse?
All I really need to add support is to have the mapping from the `dataclasses.Field` object to the arguments to pass to `add_argument`.

[2021-10-23 06:51] nacitar opened #96 "Specifying help text on a field causes the help to indicate a default of None even if there is no default"
**Describe the bug**
When help text is added to a field that does not have a default value, the help text indicates a default value of None when it should not.

**To Reproduce**
[code]

**Expected behavior**
I expected no default to be indicated, as below:

[code]

**Actual behavior**
A default is indicated even though there is no default because the parameter is simply required.

[code]

**Deskto

[2021-11-02 00:42] yuyu2172 opened #97 "Could you make a release?"
The last release was made in August 10.
Since then, some changes have been merged.
I would love to see a new release in the near future.

[2021-11-03 17:47] lebrice commented on #97
Yes! will do, sorry about that!

[2021-11-03 17:54] lebrice commented on #97
Done.

[2021-11-03 17:54] #97 closed

[2021-11-04 15:38] #90 closed

[2021-11-04 15:40] lebrice commented on #63
Ok @alexanderlobov  Sorry I forgot to get back to you. This is expected behaviour from argparse: Lists should be passed using spaces as the separator. Passing in brackets doesn't work.
For example: `python main.py --int_list 1 2` will give you what you want.
Closing this, feel free to reopen if needed.

[2021-11-04 15:40] #63 closed

[2021-11-04 15:41] lebrice commented on #67
Fixed by #93

[2021-11-04 15:41] #67 closed

[2021-11-17 07:28] yuvval opened #98 "disable help for some arguments"
**Is your feature request related to a problem? Please describe.**
Many times I wouldn't like to expose all the dataclass arguments in the help, but I'd still want to have them documented in the source code.
Would it be possible to disable help for those arguments? maybe by a prefix like `#nohelp`  in their comment

**Describe the solution you'd like**
If an argument comment starts with `#nohelp`

[2021-11-18 23:32] lebrice commented on #98
Hey there @yuvval , thanks for posting!

Hmm interesting idea. I have a few questions though:
1. Have you checked out the docstrings example, out of curiosity? Perhaps what you want is to have a bit more control on which of the comments in the code shows up in the "--help" string, correct?
2. Do you want the argument to not have a "help" value, or do you want them to not show up at all in the  "--

[2021-11-18 23:40] lebrice commented on #98
Oh @yuvval , Just realised, since you mentioned `__post_init__`:

If you're trying to just **not** parse a value from the command-line, for instance if you want to set the attribute value in `__post_init__`, then you should use the `cmd=False` option of `field`. That tells simple_parsing to not generate any command-line args for that field. Note that you need to provide a default value or a defaul

[2021-11-19 00:06] lebrice commented on #96
Hey there @nacitar , sorry for replying earlier.

This is a cute, crunchy little bug. I really like those.

For anyone that wants to help out, this is what I'm thinking:
- This is most likely due to the help formatter used by default (the default value of the `formatter_class` argument of `simple_parsing.ArgumentParser`): the [SimpleHelpFormatter](https://github.com/lebrice/SimpleParsing/blob/3245

[2021-11-19 00:55] lebrice commented on #62
Hey there @stevebyan , I'm really sorry for not getting back to you earlier.

This is a really nice bug. This wasn't being picked up by the tests, strangely enough. Added a test for it, was able to reproduce the issue, then added a fix. Now works correctly.

Thanks again!

[2021-11-21 12:12] yuvval commented on #98
Thank you!

`cmd=False` was exactly what I was looking for.

Your first response guided me to find another alternative for doing this, by setting `help=argparse.SUPPRESS`.

[2021-11-21 12:12] #98 closed

[2021-12-02 13:04] eladrich commented on #75
Hi @lebrice,
First of all, really liked the design of this project! Been looking for a while for a typed and hierarchical argparse extension
I was wondering if you are planning to support enforcing the full path option, and if not whether you are still interested in a PR for that.

[2021-12-08 02:10] lebrice commented on #75
Hi @eladrich! Yes I'd welcome a PR for that feature! I believe I left some instructions up here, feel free to take a crack at it, if you're interested! I'm available if you have amy questions. Otherwise I'll work on this whenever I find some time, probably in a few weeks.

[2022-01-02 21:05] yuvval opened #100 "Simple parsing with nesting breaks line_profiler (kernprof)"
**Describe the bug**
When calling a script with kernprof (line_profiler), it breaks if simple parsing uses nesting.
There is no issue if nesting is not used.

**To Reproduce**

tmp.py
[code]

On commandline (bash):
[code]

**Expected behavior**
Script will run and func_to_line_prof() will get profiled.

[code]

**Actual behavior**
An exception is raised

[code]

**Desktop (please complete the foll

[2022-01-04 05:56] lebrice commented on #100
Hello there @yuvval !

Is this specific to dataclasses? Or to Simple-parsing?

Dataclasses generate a str that is then evaled, so thats probably the issue here.

[2022-01-04 12:59] yuvval commented on #100
Hi Fabrice!
Thanks for helping.

Looks like it is related to simple-parsing: It works when I removed the
calls for simple parsing, and replaced them with just getting an instance
of the dataclasses.

For that I used the following code:

[code]

On Tue, Jan 4, 2022 at 7:57 AM Fabrice Normandin ***@***.***>
wrote:

[2022-01-07 20:29] pbarker opened #101 "Get final flag values without parsing"
**Is your feature request related to a problem? Please describe.**
A way to get flag values once they are merged. This comes from using Amazon Sagemaker where they want CLI arguments formatted as a dictionary, which they then apply to the container.

**Describe the solution you'd like**
[code]

**Describe alternatives you've considered**
I've been digging through the code and don't see an easy way

[2022-01-08 21:34] pbarker commented on #101
Found a way to do this, and in case anyone needs it in the future:

[code]

[2022-01-08 21:34] #101 closed

[2022-01-13 21:57] lebrice commented on #100
FYI: The issue is happening when simple-parsing tries to fetch the docstring of a given field on a dataclass.

I'm not sure how to fix this, since what seems to be happening is that `inspect` is incapable of finding the source code of the given class. Could this be due to the line profiler manipulating the code objects somehow?
In any case, I don't think I have an easy fix for this, apart from per

[2022-01-15 16:55] aoikaneko opened #103 "'choices' does not seem to be checked while loading"
**Is your feature request related to a problem? Please describe.**
Invalid value for 'choices' can be set via load() method.

To reproduce:

config.yml
[code]

argtest.py
[code]

**Describe the solution you'd like**
Check 'choices' in load() method and show an error message, something like `invalid choice: 'bird' (choose from 'dog', 'cat')`

**Describe alternatives you've considered**
Currently, I

[2022-01-17 17:42] lebrice commented on #103
Hey there @aoikaneko , thanks for posting!

Interesting proposition.

The function used for each field in `load` is currently determined by the kind of type annotation that is used on the field.
If you want the behaviour you describe, you can get it now by using an Enum field.

Also, if we fix #2 (which may or may not be already supported), then the decode function for a `Final["cat", "dog"]`  sho

[2022-01-22 19:01] lebrice opened #105 "List fields cannot be used with subparser fields"
**Describe the bug**

Can't use fields with nargs="*" with a subparser field that comes after it. The values passed to the field are incorrectly assumed to be values for the subparser, and so a "incorrect value for argument <x>: Must be one of <A, B, C>"-like error is raised.

Will update this later.

[2022-01-25 03:55] aoikaneko commented on #103
Hi @lebrice , thank you for your suggestion!

I tried Enum but got the following output.
[code]

config.yml
[code]

argtest2.py
[code]

I guess I do something wrong. Could you give me some advice?

[2022-01-25 12:14] rggjan opened #106 "Optional Enum's are not parsed properly"
Optional enums need to be passed to command line by value instead of name:

[code]

[2022-01-25 12:14] rggjan commented on #106
```error: argument --color_one: invalid Color value: 'RED'```

[2022-01-26 16:58] lebrice commented on #106
Hey @rggjan , thanks for posting!

Indeed, this was mentioned in #62 , and I've been working on a fix in #99 . I need to fix the failing tests for other python versions, and this should be good to go.

[2022-01-28 09:33] rggjan commented on #106
Ah, I missed that, thanks a lot!

[2022-02-01 12:06] johnatannvmd commented on #105
[code]

If you run this script with these parameters you will get those output where list does not parsed correctly
[code]

Running script like this:
[code]
Gives me an error `run.py: error: the following arguments are required: prog.command`

How can I mix subparsers and list of string parameters:
[code]

[2022-02-06 17:39] #62 closed

[2022-02-10 17:44] stevebyan commented on #45
Here's how I do it.
[code]

[2022-02-10 18:37] stevebyan opened #107 "json parsing of a boolean considers "false" to be True"
**Describe the bug**
When parsing a json config file, SimpleParsing considers any string value for a boolean to be `True`.
This is quite confusing to my users, who inadvertently write their json configs with quotes around
the truth value, e.g. `"light_switch": "false"`. They are surprised when the dataclass field `light_switch` ends up containing the value `True`.

**To Reproduce**
[code]

**Expec

[2022-02-11 06:27] lebrice commented on #107
Hey there @stevebyan, thanks for posting!

I think in this case you'd want to overwrite/register a new custom decoding function for bool fields, and you'd probably want to use something like the `str2bool` utility that is used with args from the command line.

Can you take a look at the `simple_parsing.helpers.serialization.decoding` module? I think doing something like `register_decoding_fn(bool,

[2022-03-22 09:19] gschwaer commented on #65
Is this feature request accepted / is this desired? If I understand this issue correctly, the main problem is that SimpleParsing differentiates (maybe unintentionally) between choices and enum options.

For choices the `metavar` (the custom name that is used after the argument name) is dropped:

https://github.com/lebrice/SimpleParsing/blob/016d306c3ce7919eba3341cfb26e9509357b3301/simple_parsing/w

[2022-03-25 15:54] psirenny commented on #45
A downside to the diff approach is that it fails when a default value is passed into the command line. The user will expect the command line argument to supersede the config file's value. But it won't because it just so happens to equal the dataclasses' default value. I think the best workaround is to parse twice.

[2022-04-06 11:20] Conchylicultor commented on #68
+1 for auto-adding a `--noflag` for each boolean `--flag`.

This is how Google's absl `FLAGS` works: https://abseil.io/docs/python/guides/flags

[code]

Accept:
* `--debug` (`FLAGS.debug=True`)
* `--nodebug` (`FLAGS.debug=False`)

[2022-04-08 07:24] rggjan commented on #68
Exactly! Although I think I'd prefer the flag with a `-`, like `--no-debug`, instead of `--nodebug`...

[2022-04-08 15:18] ivanprado commented on #75
Thank you @Ozziko for your proposal. Indeed, I think it is a very useful feature. @lebrice I've tried to implement it, as you suggested, in this PR https://github.com/lebrice/SimpleParsing/pull/117. Hope I got it right.

[2022-04-08 22:12] lebrice opened #118 "All python 3.7 Builds on Travis fail and I have no clue why"
**Describe the bug**

Example job:
https://app.travis-ci.com/github/lebrice/SimpleParsing/jobs/566488391

It's always this error:
[code]

Anyone have any idea what might be causing this? I'm totally unable to reproduce it on my end, python 3.7.1 installs just fine!

As a temporary solution, I'm just running the tests myself, and overrulling the CI on PRs.. but this is less than ideal.

[2022-04-08 22:32] lebrice opened #119 "Travis seems unable to run CI loop on python 3.10"
Example: https://app.travis-ci.com/github/lebrice/SimpleParsing/jobs/566490479

Seems unable to download it or something?

[2022-04-08 22:35] lebrice opened #120 "Todo: Setup CI with GitHub Actions as replacement for Travis"
Given the kind of issues with Travis, (#118  and #119 ), might be a good idea to transition to GitHub actions.

I'd appreciate any help I can get with this! :)

[2022-04-08 23:17] lebrice commented on #64
Reopening this, the fix doesn't work seem to work anymore for python 3.9.12 and above.

[2022-04-08 23:54] #64 closed

[2022-04-09 00:05] #120 closed

[2022-04-09 00:05] #118 closed

[2022-04-09 00:05] #119 closed

[2022-04-20 14:27] halirutan opened #126 "Serialization of nested data classes"
I'm using SimpleParsing version `0.0.19post0` installed through `pip`. Consider the situation that you have several data classes with unrelated options. Each of these classes contains only primitive type variables and is itself easily serializable. Now, I want to have a wrapper data class that contains instances of the other classes and I want to be able to serialize (works) and deserialize it (do

[2022-04-20 16:07] lebrice commented on #126
Hey there! Thanks for posting, this is indeed a bug, and I'm very surprised the test suite hasn't spotted it before!

I'll check this out and get back to you.

Thanks again!

[2022-04-20 16:14] lebrice commented on #126
This seems to be due to the `from __future__ import annotations`, I'll keep digging.

[2022-04-20 16:45] lebrice commented on #126
Ok I got it figured out, and there's a fix for this waiting on CI in #127.

The problem is, the type annotations are read as strings when you use `from __future__ import annotations`. So the `get_decoding_fn` couldn't find the annotation within the dictionary of all registered decoding functions for each type (since it's a string, not a type!).

The warning it raises is also misleading, since it s

[2022-04-20 16:49] #126 closed

[2022-04-20 16:51] lebrice commented on #126
Ok the PR closed this automatically, but I'll make a quick simple-parsing 0.0.19.post1 release.

Thanks for pointing this out!

[2022-04-20 18:39] halirutan commented on #126
Uh... thanks a lot for the fast response. I was really unsure if I overlooked something in the docs. Great that it works now.

[2022-04-30 22:08] janvainer opened #130 "Allow parsing multiple nested sub commands"
## What I am trying to do:

I am training an encoder-decoder neural network and I have multiple different encoders and decoders.
Each encoder and decoder has a separate dataclass config.

I want to be able to specify from the commandline which encoder to use by specifying its config name. Once I specify that, I also want to be able to adjust the selected config fields. So far I was able to accompl

[2022-05-01 12:41] idoby commented on #130
Can you show Encoder1, Encoder2 and Decoder1/2 in your example?

[2022-05-01 16:45] janvainer commented on #130
@idoby thank you for response! I adjusted the example to use Encoder and Decoder abstractions.

[2022-05-01 19:53] idoby commented on #130
Looks like argparse doesn't support this easily, which kind of makes sense because this style is not very unix-like. A more standard command line would look like:

[code]

Would that be a good solution @janvainer ?
It's not too hard to implement this with SimpleParsing but it is a little hacky. I suggest we add support for this kind of "polymorphic" command line in SP. What do you think @lebrice ?

[2022-05-01 21:09] janvainer commented on #130
Yeah this would be great, especially if its less hacky that what I suggested! :)
As long as I can do
[code]
I am very happy :D

[2022-05-03 01:05] lebrice commented on #130
Greeting @janvainer , thanks for posting!

This is the eternal thorn in my foot, and it's quite possible IMO that this issue of Argparse was one of the biggest motivations for other approaches like Hydra's.

I've worked on this kind of thing a LOT. There is no neat way of doing this in SP, and I don't quite see a clean way forward.

Talk is cheap @ivanprado. Show me the code! :stuck_out_tongue:

A

[2022-05-03 07:20] idoby commented on #130
Well, it's a hack, but here goes.

I was testing out different optimizers and hyperparameters, and didn't like that my experiments had this configuration code in them, so I made this (details omitted for clarity):

[code]

train_config is a dataclass that includes the optimizer_type field that is read by SP from the command line, then poly_config injects the appropriate class and reparses the comm

[2022-05-03 08:16] janvainer commented on #130
@lebrice Thank you for the response! Much appreciated.
 Do you think there is a clean way how to leverage the `Union` typing to have the multiple subcommand options as fields in a parent config?

 Ie
[code]

If not I'll simply use what you are suggesting, it does what I want in the end and is simple :)
Any ETA on merging this?

[2022-05-03 16:19] lebrice commented on #130
Thanks for the response @idoby !

I've also used this kind of approach before (also for types of optimizers) and it worked well for a while, until I wasted a bunch of jobs in an HPO sweep because I misspelled an argument, and an error wasn't raised explicitly.

There are ways around this however. For instance, in your setup, If you had the `poly_config` function modify a global variable containing

[2022-05-03 16:24] idoby commented on #130
Yeah, that's why I want to raise the error explicitly and this requires a process that can keep track of the state across multiple parse operations, which my library is doing anyway (and SP isn't and IMO shouldn't).

I'll get around to this at some point, maybe after NeurIPS...

[2022-05-03 16:30] lebrice commented on #130
By the way, I'm not opposed to adding this kind of mechanism directly in Simple-Parsing @idoby !

For instance, it could be an idea to not create argparse subparsers when using the dataclass Union syntax. (e.g. `model: Union[ResNetConfig, VggConfig]`)
Instead, we could replace a `model` subparser with a `--model` argument,  make `parser.parse_args()` call  `parser.parse_known_args()` internally, a

[2022-05-03 16:34] idoby commented on #130
I think it would be nice, but I'm not sure it fits well with the argparse mental model. I do think that subparsers were not meant to do what SP is doing with them and this solution could be a better approach. Subparsers are meant for simple git-like commands, they are not a main feature of argparse.

[2022-05-04 03:03] lebrice opened #131 "Backward-incompatible changes to ArgumentParser constructor"
The changes in the latest PRs for the nesting mode/nesting level were backward-incompatible. The blame is on me for letting them through without checking this first.

- The `add_dest_to_option_strings` argument dissapeared.

They need to be reverted and fixed before the next release.

[2022-05-05 14:38] dblakely opened #132 "Allow optional params to be checked with default=None, in addition to using the Optional type hint"
**Is your feature request related to a problem? Please describe.**

It's common to have args in a dataclass that are optional but aren't explicitly typed as such via the `Optional` type hint. For example:

[code]

In this case, `Args.x` is clearly intended to be optional despite not having an `Optional` type hint. However, if you run this you'll get `error: the following arguments are required: -x

[2022-05-06 03:33] lebrice commented on #132
Hello @dblakely , thanks for pointing this out!

Yeah sure, that sounds like a good idea.

I'd like to point out though that these field annotations aren't valid, from a type-checker's perspective: the arguments _are_ optional, and so the value should be either `int | None` or `Optional[int]`.

I agree with you, it sounds totally reasonable to consider them as Optional for simple-parsing though.

[2022-05-07 14:37] dblakely commented on #132
Thanks @lebrice! I'll take a look at it and let you know if I have any issues.

[2022-05-07 17:44] lebrice commented on #130
Made a discussion for this feature, with the pseudocode of how I plan to do this:
https://github.com/lebrice/SimpleParsing/discussions/134

[2022-05-08 00:55] Qu4tro commented on #118
I know I'm late (I see your shiny new github actions CI) - but the solution would be to run `pip install --upgrade importlib_metadata` before `pip install .` .

I've found this issue on google, so I'm hoping it saves someone a headache.

I had written a whole rant on TravisCI, but I don't think it's worth it. This issue exists, as I write this, for at least 29 days.

[2022-05-08 01:00] Qu4tro commented on #118
I've only seen this package contents, now :sweat_smile: . Looks great. A declarative way to express your arg options. Nice!

[2022-05-09 19:54] lebrice opened #135 "Drop support for python 3.6"
I'm seriously considering dropping support for python 3.6:
- It's making it quite difficult to write new features based on more recent members of the typing module.
- I prefer to use postponed evaluation of type annotations whenever possible, and the `A | B` syntax rather than `Union[A, B]`.

Does anyone have any strong objections to this?

If not, I'll go ahead with this soon (e.g. 1-2 weeks), an

[2022-05-10 17:31] #130 closed

[2022-05-11 16:52] lebrice opened #138 "Bug when mixing subgroups and "regular" dataclasses"
When mixing both, e.g.

[code]
Raises a
RuntimeError("namespace shouldnt already have a "foo" attribute!")

[2022-05-11 17:12] lebrice opened #139 "Saving the chosen subgroup name somewhere on args"
Currently, when using subgroups, the value for the subgroup name is not saved anywhere on the args, since the subgroup overwrites the original argument in the second phase of parsing:

[code]

### Recap of Subgroups:
(As a recap, here is what subgroups do:)
[code]

[code]

## The problem

[code]

It would be useful to be able to extract the name of the chose subgroup. For instance, when using a su

[2022-05-12 15:22] #138 closed

[2022-05-12 15:22] #139 closed

[2022-05-15 16:23] idoby commented on #135
I think it's safe to assume people who use this also use the latest (or almost-latest) version of Python

[2022-05-25 00:12] andrey-klochkov-liftoff commented on #45
It'd be really nice to make it a built-in option like e.g. in Pyrallis or Clout.

[2022-05-25 13:10] lebrice commented on #45
Sure thing, this makes sense. I'll take a look.

[2022-05-25 13:17] lebrice opened #141 "Add TOML serialization support"

[2022-05-26 02:37] andrey-klochkov-liftoff opened #142 "Allow parsing comma-separated list arguments"
Is it possible to parse comma-separated lists like e.g. `--listarg 1,2,3`?

I attempted to do the following, but I get a list with a nested list as a result.
[code]

[2022-05-26 20:40] andrey-klochkov-liftoff commented on #142
This example works if I set `nargs='?'` in addition to `type`. I'm closing the issue.

[2022-05-26 20:40] #142 closed

[2022-05-27 15:43] lebrice commented on #142
Yeah, this is one of the weird things with argparse: When you pass a `type` to argparse (which is essentially what is happening here, the `field` just passes the `type` to the `parser.add_argument` method), it gets called with every value that is passed, when `nargs=="*"` or > 1

[2022-05-27 16:56] janvainer opened #143 "Allow argument dependencies"
**Is your feature request related to a problem? Please describe.**

I am wondering if its possible to tie some argument values together.
For example, when I train an Encoder-Decoder architecture, the encoder.output_dim should be the same like
decoder.input_dim.

**Describe the solution you'd like**

 I would like to specify only one of them in the CLI and have the other be set automatically.
And i

[2022-05-28 04:41] lebrice commented on #143
Hey there, thanks for posting this!

Hmm that's interesting. From what is currently implemented, you have two options to take a look at, none of which do exactly what you want... :disappointed:

- Option one: [Conditional Fields](https://gist.github.com/lebrice/728f0e0218dcef6f74cbebd70af5857e)

This isn't directly related to simple-parsing, it's just a little feature for dataclasses that I've mad

[2022-05-29 18:58] janvainer commented on #143
Hi @lebrice, thank you for your ideas and the code snippets! :) After considering it a bit, definging the tied parameters in the dataclasses directly is probably not the best way to go. But how about tying the parameters together in the parser?
Something like this might work:

[code]
The `tie_arguments` would check that the defaults match (if provided) and parser would fail if user specifies both

[2022-06-06 16:25] lebrice opened #144 "Decoding dataclass with old-style type annotations (e.g. Optional[int]) fails when postponed annotations"
**Describe the bug**
When postponed evaluation of type annotations is enabled, and the dataclass uses "old-style" type annotations, the decoding function for fields aren't found properly.

**To Reproduce**
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

[code]

**Actual behavior**
A clear and concise description of what is happening.

[code]

[2022-06-06 17:51] #144 closed

[2022-06-06 17:53] #107 closed

[2022-06-12 20:38] mauvilsa commented on #143
@janvainer what you propose already exists in jsonargparse, see [argument-linking](https://jsonargparse.readthedocs.io/en/stable/#argument-linking). You might want to try that out.

[2022-06-12 21:40] lebrice commented on #143
@janvainer That looks pretty good to me, and doesn't seem too hard to implement either. I'll keep you posted, not sure when exactly I'll get to work on this. I'd also be grateful if others would like to take a crack at it in! :smile:

 Ohai there @mauvilsa , thanks for paying us a visit!
 I wasn't aware of JsonArgparse, looks very neat! Let me know if you'd like to chat, there could be some things

[2022-06-14 21:11] mauvilsa commented on #143
@lebrice I think some time ago I messaged you mentioning the overlap of SimpleParsing and jsonargparse. Probably in a thread related to pytorch-lightning. Or maybe I am confusing it with some other message I sent. Anyway, I am in the pytorch-lightning slack if you want to message there.

jsonargparse is the library that is used under the hood for LightningCLI. In that [documentation](https://pytor

[2022-06-22 10:54] joel-odlund commented on #132
this seems to be an important feature.
In the mean time, is there a workaround to have None as a default value for an optional parameter?

[2022-06-22 18:50] lebrice opened #150 "Idea: Refactoring of the `FieldWrapper` class"
Would be a good idea to refactor the FieldWrapper class a bit.
The `args_dict` (a dict of all the argparse arguments for a given field, that get passed to `parser.add_arguments` in the FieldWrapper) are currently created using a mix of three things (with increasing priority):

- The type annotation of the field
- The dataclass context (e.g. when adding an Optional[Dataclass] field on another datac

[2022-06-22 20:10] #132 closed

[2022-07-25 03:11] Yevgnen commented on #45
Any news?

[2022-07-26 17:41] lebrice commented on #45
No news atm, I've been busy with other stuff. I'll push that onto my stack of TODOs, hopefully I'll have something to show for it in a week or two!

[2022-08-03 18:42] #135 closed

[2022-08-04 17:05] #75 closed

[2022-08-04 17:08] lebrice commented on #68
Sorry this has taken a while. The PR for this (#94) was getting quite stale, and I didn't like having a custom BoolAction class for it.

Ok I'll push this back on top of my stack of todos. In the meantime, if someone would like to chip in, I'd be happy to give them pointers on how this could be most easily implemented.

[2022-08-12 18:36] lebrice opened #157 "Support for TypedDicts (in addition to dataclasses)"
It would be nice to be able to add arguments for a given TypedDict, in addition to dataclasses.

[code]

This could also extend to TypedDict fields on dataclasses, or on TypedDicts themselves.

[2022-08-19 23:19] #45 closed

[2022-08-19 23:19] #131 closed

[2022-08-19 23:20] lebrice commented on #45
Ok I've added some better support for this in #158. Let me know what you think! :)

[2022-08-20 17:03] idoby commented on #150
Yeah, it needs some love. I find it especially limiting that DataclassWrapper/FieldWrapper do too much by themselves and so injecting new information into the process is hard (e.g. creating a feature that has an effect at the field level but is specified as an argument to add_arguments())

[2022-08-23 19:22] lebrice opened #160 "Nested subgroups don't appear to work correctly"
[code]

gives:
[code]

[2022-08-25 20:49] saleml opened #161 "Setting the attributes of a default config in subgroups"
**Describe the bug**
Not sure whether it's a bug, or it's expected:

After specifying the default config in a `subgroups`, changing the inner attributes of the default configuration requires prior specification within the `subgroups`.

**To Reproduce**
The same code in the example provided in [subgroups](https://github.com/lebrice/SimpleParsing/blob/master/examples/subgroups/README.md).

[code]

*

[2022-08-25 21:20] lebrice commented on #161
Nice catch! This new subgroups feature needs a bit more testing. Thanks for pointing this out!

[2022-09-06 05:50] justin-together opened #162 "Missing descriptions with multiple inheritance"
**Describe the bug**

Some argument descriptions are missing when using multiple inheritance.

**To Reproduce**
[code]

**Expected behavior**
The help string for "bat" contains "The bat property".

**Actual behavior**
The help string for "bat" is empty.

[code]

**Desktop (please complete the following information):**
 - Version 0.0.20
 - Python version: 3.8.9

**Additional context**
None.

[2022-09-22 11:39] szymonk211 opened #163 "Utility function to shorten the parsing code isn't shown in README"
I thing that the code to parse simple, most basic use case is a little bit too complicated:
[code]

Instead i would like something like this:
[code]

The only thing I (and probably the most of the users) need is the simple utility function, that takes the class name, and returns the parsed object. This is what almost every user really wants. Other, more advanced features are important too, but the

[2022-09-22 14:47] lebrice commented on #163
Hello there! Thanks for your comment.

That utility function exists, it's `simple_parsing.parse`, but it's brand new, and I havent added it to the README or examples just yet.

I'd agree that this probably simplifies things for a lot of new users, but one thing to keep in mind is that one of the biggest selling points for simple_parsing is its backward-compatibility with argparse.
My main "target

[2022-09-22 14:53] szymonk211 commented on #163
If they want to clean up some ugly code, than the use of more simple function will only clean up the code more ;) I will close the problem for now anyway if the function is already implemented.

[2022-09-22 18:26] lebrice commented on #163
I'll keep this open until I properly show that function in the README.

[2022-09-22 18:30] lebrice commented on #162
Ooh, that's a really cute bug! Thanks @justin-together , good catch!
This is probably a bug in this function: https://github.com/lebrice/SimpleParsing/blob/6fca2e9322f73af7fca0e39978619b1286438def/simple_parsing/docstring.py#L21-L34

Would you be interested in taking a look at it yourself, by any chance? :)
If not, no worries, I can add this to my stack of todos as well.

Thanks for pointing this

[2022-09-22 21:42] #162 closed

[2022-09-26 12:47] Conchylicultor opened #166 ""Attributes:" Google-style docstring support for automatic help string"
Currently, `simple_parsing` force to add comments along the attributes they are defined

It would be nice if it was also supporting the google docstring style `Attributes` field: https://google.github.io/styleguide/pyguide.html#384-classes

[code]

**Rational:** The `simple_parsing` conventions are not supported by standard tools like:

* CiderV hover help information:

<img width="402" alt="Scree

[2022-09-27 05:12] lebrice commented on #166
Great suggestion @Conchylicultor !
I'll take a look at existing parsing tools for this, would be nicer than having to write it myself.

[2022-09-27 06:12] brentyi commented on #166
@lebrice as an FYI I've had a really good experience with [docstring_parser](https://github.com/rr-/docstring_parser)! Could possibly also be used in #156?

[2022-09-29 08:52] szymonk211 opened #167 "Why positional arguments starts with "--" by default?"
When you see --argument in help you immediately think that this is an optional argument. I can't see why not remove "--" from every positional argument by default. It is natural, that positional arguments don't start with "--". This change probably wouldn't break executions of users scripts, because you don't have to write argument name in command line. It would not be an invasive change.

[2022-10-04 14:13] mixilchenko opened #168 "Postponed annotation bug"
[code]
[code]

Running `python b.py -h` gives an error
[code]

[2022-10-04 14:14] mixilchenko commented on #168
Importing `Path` in `b.py` is a workaround

[2022-10-04 14:14] mixilchenko commented on #168
I guess [here](https://github.com/lebrice/SimpleParsing/blob/ed8170a32e7765bd98ed42831a428f0cdb645b67/simple_parsing/annotation_utils/get_field_annotations.py#L37-L39) we should also iterate through class mro and add globals from base class modules

[2022-10-04 14:22] lebrice commented on #168
Hey @mixilchenko, thanks for posting this.

Yeah that solution makes sense to me.

There are some small complications that might arise, but that we can probably ignore for now.
 For example, if in the module of the base class, some annotation e.g. Foo refers to some class Foo, while in the scope of the other module, the same name refers to another class Foo, then the first Foo class should be used

[2022-10-04 14:23] lebrice commented on #168
As for tests, I suggest creating a folder under `test` with these exact modules.

[2022-10-04 14:29] lebrice commented on #166
Sure @brentyi , I'll check it out.

However, do you get the same problem when using docstrings under the fields?

[2022-10-04 16:10] brentyi commented on #166
Hm, my understanding with the triple-quoted attribute docstrings is:

- Sphinx would work.
- In Pyright, Attributes wouldn't show up in the `Args()` docstring, but would if you hovered over `user` in `Args(user="something")` or `args.user`.

I generally prefer this style over the monolithic `Attributes:` list.

[2022-10-04 23:59] lebrice commented on #167
Hey there @szymonk211 , thanks for posting!

I'm not sure if this answers your question, but you can create positional arguments explicitly by passing `positional=True` to the `field` function from simple-parsing. [Here's an example of this.](https://github.com/lebrice/SimpleParsing/blob/1567bd19ef803c7703d76343584cc52feab0c00b/test/test_positional.py)

Hmm, I'm not sure I follow. Let's take an ex

[2022-10-05 06:30] szymonk211 commented on #167
I'm sorry, my issue was a bit rambly. I just understood wrongly how the library works. I thought that arguments without the default value are positional, but they are optional with required keyword. The problem is that I wanted to use the library but i had no idea how to make positional arguments - which is a core feature of plain argument parser. Maybe some solution would be to give some example

[2022-10-08 17:26] lebrice commented on #167
By the way, you can still just use regular argparse code with simple-parsing, since the `simple_parsing.ArgumentParser` is a subclass of `argparse.ArgumentParser`. So you could also just create the positional arguments with `parser.add_argument("foo", type=int)` or whatever you want. :)

[2022-10-08 17:26] #167 closed

[2022-10-11 20:49] lebrice opened #169 "Interop with HuggingFace: Use `help` entry from field metadata dict"
The dataclasses used by the HfArgumentParser have a `metatada={"help": "help string"}`, for example, here:

https://github.com/huggingface/transformers/blob/main/examples/pytorch/text-classification/run_glue.py#L80-L83

It would be good to support this, so that one could use `parser.add_arguments(TrainingArguments, "trainer")` in SimpleParsing directly!

[2022-10-12 12:57] Conchylicultor commented on #68
I might look into this as some Google internal tools automatically pass `--nosome_flag` when setting `some_flag=false` in configuration.

In `absl`, they have some wrapper around `argparse` which add the `--noflag` symbol: https://github.com/abseil/abseil-py/blob/a0ae31683e6cf3667886c500327f292c893a1740/absl/flags/argparse_flags.py#L222

I'm interested. Do you have some pointers on this ?

[2022-10-20 22:43] lebrice commented on #69
Solved by #111

[2022-10-20 22:43] #69 closed

[2022-10-24 13:53] kyamagu opened #173 "Subgroups choice isn't serialized in yaml file"
**Describe the bug**
When there is a subgroup, `parse` API fails.

**To Reproduce**
[code]

**Expected behavior**
Code should

[code]

**Actual behavior**
`parse` fails.

[code]

**Desktop (please complete the following information):**
 - Version: 0.0.21
 - Python version: 3.7

**Additional context**

Serialization module seems to throw a warning instead of runtime error.

[code]

[code]

[2022-10-26 00:39] #163 closed

[2022-10-26 23:11] lebrice commented on #173
Hey there @kyamagu , thanks for posting!

Yeah, the `parse` and `subgroups` functions are relatively new, so I expected some bugs to show up eventually.
This seems to only occur when using a dataclass with subgroups. Nice catch!

I see one problem with your expected behaviour though: How are we supposed to figure out which `ModelConfig` to instantiate in this case? (since the fields are the same,

[2022-10-27 06:11] kyamagu commented on #173
@lebrice For this, I believe there should be an additional field to disambiguate subgroups in the config file, though this might require having an additional field in the dataclass to use subgroups. In any case, class information has to be serialized somewhere.

[code]

[code]

[2022-10-31 16:34] timbmg opened #174 "Default / Blank destination for add_arguments"
Is it possible to add the parsed arguments the the `args` object directly? I.e. I would like to access the arguments in the below example with `args.var`. `dest` currently is a required parameter, so leaving it empty does not work.

[code]

[2022-11-01 17:47] lebrice commented on #173
@kyamagu I just realized, if you just dump objects to a yaml file, without serializing them to a dictionary first, pyyaml automatically saves the types of the objects, along with their attributes.

Perhaps there could be a `serialize=True` argument to `save_yaml`, that way, the object types could be preserved and restored upon saving/loading with pyyaml.
I'll check how easy this would be to do. Se

[2022-11-01 18:11] lebrice commented on #174
Hello there @timbmg , thanks for posting!

A few questions first, just so I understand your use-case better:
1. Are you using only one dataclass ?

--> If yes: you could use the [the `simple_parsing.parse` API](https://github.com/lebrice/SimpleParsing#new-simplified-api), which essentially uses the `nested_mode=NestedMode.WITHOUT_ROOT` argument to the ArgumentParser constructor under the hood.

[c

[2022-11-02 10:10] timbmg commented on #174
Thank you @lebrice for such a detailed answer!

I am currently transitioning from vanilla argpase, so I didn't want to change a bunch of code. I will try the parse API. Thanks again! 🤗

[2022-11-02 10:10] #174 closed

[2022-11-15 21:39] lebrice commented on #166
Should be fixed by #179 . Let me know if you have other issues :)

[2022-11-15 21:39] #166 closed

[2022-11-16 11:57] lkhphuc opened #180 "Load python file as config file."
**Is your feature request related to a problem? Please describe.**
Config file currently support as json and yaml. I wonder whether it is possible to use a python file containing the dataclasses as the config file directly.

**Describe the solution you'd like**
For example in `main.py`:
[code]

In a `cfg/baseline.py`:
[code]

Now the command line accepts:
`python main.py --config_path=cfg/baseline

[2022-11-21 22:51] lebrice commented on #180
Hi @lkhphuc , thanks for posting!

Hmmmm. I'm slightly confused. Could you explain why this should be allowed? Does it enable something that json/yaml files don't?

This might also be a use-case for subgroups. Have you tried those before?